@model WebCUOI.Models.AoCuoi // Thay WebCUOI bằng tên dự án của bạn

@{
    ViewData["Title"] = "Xóa Áo Cưới";
}

<h1>Xóa Áo Cưới</h1>

<h3>Bạn có chắc chắn muốn xóa áo cưới này không?</h3>
<div>
    <h4>Áo Cưới</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenAoCuoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenAoCuoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiaThue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiaThue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KichCo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KichCo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnhURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnhURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapKho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapKho)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>